/* здесь используйте глобальные переменные */
$base-color-text: #444444;

$bg-basic-green: #68b738;

$bg-alt-green: #68B738D9;

$bg-basic-grey: #f2f2f2;

$bg-alt-grey: #EAEAEA;

$basic-black: #000000;

$alt-black: #111111;

$special-dark: #222222;

$basic-white: #FFFFFF;

$border-grey: #EBEBEB;

$border-special-grey: #CDCDCD;

$border-alt-grey: #D9D9D9;

$border-around-grey: #E7E7E7;

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
