.contacts__wrapper {
  padding: 26px 20px 26px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contacts__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

.contacts__information {
  line-height: 20px;
  margin: 0;
}
