.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 280px;
  margin: 0;

  @media (min-width: $tablet-width) {
    min-width: 168px;
  }
}

.copyright:active {
  opacity: 30%;
}

.copyright__text {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.copyright__text-link {
  margin: 0;
}
