.example-case__title {
  font-family: "oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}

.example-case__item-title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.example-case__description {
  font-size: 12px;
  line-height: 12px;
}

.example-case__item-description-expenses {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
