.form {
  border-top: 1px solid $border-alt-grey;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    border: 0;
    margin-top: 65px;
  }

  @media (min-width: $desktop-width) {
    border: 0;
    margin-top: 74px;
  }
}

.form__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #000000;
  padding-top: 27px;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 60px;
    line-height: 60px;
  }
}

.form__description {
  font-family: "Oswald", sans-serif;
  color: $basic-black;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 39px;
  margin-top: 37px;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-bottom: 66px;
    margin-top: 54px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 55px;
  }
}
