.form__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.form__description {
  font-family: "Oswald", sans-serif;
  color: #000000;
  text-transform: uppercase;
}
