.gift-promo {
  text-align: center;
  margin-top: 35px;

  @media (min-width: $tablet-width) {
    margin-top: 70px;
    text-align: start;
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    margin: 0;
  }
}

.gift-promo__wrapper {
  background-color: $bg-alt-green;

  @media (min-width: $desktop-width) {
    max-width: 245px;
  }
}

.gift-promo__description {
  font-size: 16px;
  line-height: 20px;
  color: $basic-white;
  padding: 187px 61px 43px 58px;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 71px 125px 69px 421px;
  }
}
