.hero {
  font-family: "Oswald", sans-serif;
  background-color: $bg-alt-green;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    color: $basic-black;
    background-color: inherit;
  }
}

.hero__wrapper {
  text-align: center;

  @media (min-width: $tablet-width) {

  }
}

.hero__header-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0 auto;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    padding: 0 90px;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    padding: 0 80px;
  }
}

.hero__header-description {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    margin: 40px 0 21px;
    text-align: start;
    padding: 0 90px;
  }

  @media (min-width: $desktop-width) {
    margin: 40px 0 52px;
    padding: 0 80px;
  }
}

.hero__button {
  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}
