.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
  color: $basic-black;
}

@media (min-width: $tablet-width) {
  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 33px;
    padding-top: 14px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 16px;
    padding-bottom: 3px;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }
}

