.services__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  gap: 20px;
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    gap: 30px;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 80px;
    margin-top: 82px;
    justify-content: space-between;
  }
}

.services__item-container {
  padding: 30px 33px 18px 20px;

  @media (min-width: $tablet-width) {
    padding: 77px 316px 53px 53px;
  }

  @media (min-width: $desktop-width) {
    padding: 77px 61px 55px 52px;
  }
}

.services__item {
  background-color: $bg-basic-grey;
  margin: 0 auto;

  @media (min-width: $tablet-width) {

  }

  @media (min-width: $desktop-width) {
    flex-grow: 1;
    width: 50%;
  }
}

.services__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.services__description {
  margin: 24px 0 48px 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.services__button {
  background-color: $bg-basic-grey;
  color: #000000;
  line-height: 16px;
  padding: 0;
  text-align: start;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../../images/icons/icon_arrow.svg");
    width: 32px;
    height: 10px;
    display: block;
    background-repeat: no-repeat;
    left: 102px;
  }

  &:active {
    opacity: 30%;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.services__item-image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 53px;
  z-index: 1;

  &--pro {
    width: 67px;
  }

  @media (min-width: $tablet-width) {
    width: 140px;
    height: 194px;

    &--pro {
      width: 268px;
      height: 112px;
    }
  }
}

.services__item-image::after {
  content: "";
  position: absolute;
  background-color: $bg-basic-green;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 200px;
  }
}

.services__item-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}
