.services__item {
  background-color: $bg-basic-grey;
}

.services__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
}

.services__button {
  background-color: rgba(242, 242, 242, 0);
  color: #000000;
}
