.site-list__item-link {
  display: block;
  text-decoration: none;
}

.site-list__item-link:visited {
  color: inherit;
}

.cureent-link {
  opacity: 1;

  @media (min-width: $tablet-width) {
    position: relative;
  }
}

.cureent-link::before {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 2px;
    align-self: center;
    z-index: 1;
    background-color: $bg-basic-green;
  }
}

.site-list__item-link:hover {
  opacity: 60%;
}

.site-list__item-link:active {
  opacity: 30%;
}
